<h1>Favorite Books!</h1>
<ul>
  {{#each model as |book|}}
    <li>{{#link-to "book" book}}{{book.title}}{{/link-to}}, {{book.author}}: {{truncate-description book.description}} || {{book.score}}</li>
  {{/each}}
</ul>
