{{#link-to "books"}}Back to All Books{{/link-to}}<br/><br/>

{{input type="text" placeholder="Title" value=title}}
{{input type="text" placeholder="Author" value=author}}
{{input type="text" placeholder="Description" value=description}}
<button {{action "createBook"}}>Add</button>
